@import 'dzslides/global';

.aspect-16-10 body {
  @include aspect-size(500, (16/10));
}

.aspect-16-9 body {
  @include aspect-size(450, (16/9));
}

body {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  @include aspect-size(600, (4/3));
  margin-left: remCalc(-400);
  overflow: hidden;

  &.loaded {
    display: block;
  }
}

